button{
    background-color: #f3f3f3; 
    border: 3px;
    color: rgb(37, 35, 35);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    align-items: center;
}

table{
    border: 3px solid rgb(15, 15, 14);
    border-collapse: collapse;
    width: 50%;
    margin: auto;
}

td{
    border: 1px solid rgb(20, 12, 12);
    text-align: center;
    padding: 8px;
}
img{
    width: 100px;
    height: 100px;
}